// @use "vuetify/styles" with (
//   $body-font-family: "DM Sans",
//   $border-radius-root: 5px
// );
@use "vuetify/styles";
//@import "vuetify/styles";
//@import "vuetify/src/styles/styles.sass";
@import "vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";
@import "./variables";
@import "./override";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/topbar";
@import "./layout/horizontal";
@import "./layout/dark";
@import "./pages/dashboards";

.whatsapp-color {
  color: #25d366;
}
.undo-pending-message {
  background-color: #f71b85;
  border-radius: 35px;
  .wechat-color {
    color: #ffffff;
  }
}
.instagram-color {
  color: #e03f6c;
}
.messenger-color {
  color: #02a7f7;
}

.selected {
  background-color: #f5f5f5 !important;
}

.message {
  white-space: pre-line;
}

.v-progress-linear {
  top: 50%;
  display: block;
  width: 100px;
  margin: auto auto;
}

.bold-text {
  font-weight: 600;
  color: #000000 !important;
}
