// @use "vuetify/styles" with (
//   $body-font-family: "DM Sans",
//   $border-radius-root: 5px
// );
@use "vuetify/styles";
//@import "vuetify/styles";
//@import "vuetify/src/styles/styles.sass";
@import "vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";
@import "./variables";
@import "./override";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/topbar";
@import "./layout/horizontal";
@import "./layout/dark";
@import "./pages/dashboards";

.whatsapp-color {
  color: #25d366;
}
.undo-pending-message {
  background-color: #f71b85;
  border-radius: 35px;
  .wechat-color {
    color: #ffffff;
  }
}
.instagram-color {
  color: #e03f6c;
}
.messenger-color {
  color: #02a7f7;
}

.selected {
  background-color: #f5f5f5 !important;
}

.message {
  white-space: pre-line;
}

.v-progress-linear {
  top: 50%;
  display: block;
  width: 100px;
  margin: auto auto;
}

.bold-text {
  font-weight: 600;
  color: #000000 !important;
}

.drag-message {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px dotted black;
  text-align: center;
}

.clear-uploaded-file {
  background: red;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  display: inline;
  margin: 0 auto;
  width: 45px; /* Set a fixed width */
  font-size: 0.75rem; /* Optionally reduce font size */
}